.wrapper {
    width: 100%;
    min-height: calc(100% - var(--spacers-dp16));
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacers-dp16);
}
.loaderWrap {
    flex-grow: 1;
}
.cardWrap {
    flex-grow: 0;
    margin-bottom: var(--spacers-dp16);
}
.cardWrap > .card {
    width: 100%;
}
