dl.list {
    display: grid;
    grid-gap: var(--spacers-dp8) var(--spacers-dp32);
    grid-template-columns: max-content;
    margin: 0;
    color: var(--colors-grey900);
}
.list > dt {
    font-weight: 500;
}
.list > dd {
    margin: 0;
    grid-column-start: 2;
}
