.heading {
    display: flex;
    align-items: center;
    color: var(--colors-grey900);
    gap: var(--spacers-dp16);
}
.heading h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
}
.wrapper {
    width: 100%;
    min-height: calc(100% - var(--spacers-dp16));
    display: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacers-dp16);
}
.loaderWrap {
    flex-grow: 1;
}
.cardWrap {
    flex-grow: 0;
    margin-bottom: var(--spacers-dp16);
}
.cardWrap > .card {
    padding: var(--spacers-dp16);
    width: auto;
}
