dotenv

if [ "$CLASSIFICATION" = "prod" ]; then
  export API_HOSTNAME=api.im.dhis2.org
  export UI_HOSTNAME=im.dhis2.org
elif [ "$CLASSIFICATION" = "dev" ]; then
  export API_HOSTNAME=api.im-dev.dhis2.org
  export UI_HOSTNAME=im-dev.dhis2.org
elif [ "$CLASSIFICATION" = "feature" ]; then
  export API_HOSTNAME=${ENVIRONMENT}.api.im-feat.dhis2.org
  export UI_HOSTNAME=${ENVIRONMENT}.im-feat.dhis2.org
fi

export UI_URL=https://$UI_HOSTNAME
export API_URL=https://$API_HOSTNAME
export VITE_API_URL=$API_URL
