dotenv

if [ "$CLASSIFICATION" = "prod" ]; then
  export API_HOSTNAME=api.im.dhis2.org
  export UI_URL=https://im.dhis2.org
elif [ "$CLASSIFICATION" = "dev" ]; then
  export API_HOSTNAME=api.im-dev.dhis2.org
  export UI_URL=https://im-dev.dhis2.org
elif [ "$CLASSIFICATION" = "feature" ]; then
  export API_HOSTNAME=${ENVIRONMENT}.api.im-feat.dhis2.org
  export UI_URL=https://${ENVIRONMENT}.im-feat.dhis2.org
fi

export HOSTNAME=$API_HOSTNAME
