# The following files are yaml templates and produce SyntaxErrors with prettier
helm/chart/templates/deployment.yaml
helm/chart/templates/hpa.yaml
helm/chart/templates/ingress.yaml
helm/chart/templates/serviceaccount.yaml
helm/chart/templates/tests/test-connection.yaml
