.wrapper {
    width: 100%;
    min-height: calc(100% - var(--spacers-dp16));
    display: flex;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacers-dp16);
}
.loaderWrap {
    flex-grow: 1;
}
.clickableRow {
    cursor: pointer;
}
.groupName {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--colors-blue600) !important;
}

td {
    font-weight: 400;
    color: var(--colors-grey600) !important;
}
.opendeletewrap {
    min-width: 180px;
    display: flex;
    gap: var(--spacers-dp8);
}

.verticallyAlignedCellContent {
    display: inline-flex;
    align-items: center;
    gap: var(--spacers-dp4);
    color: var(--colors-grey800) !important;
}
.stackNameTag {
    margin-right: var(--spacers-dp4);
    margin-bottom: var(--spacers-dp4);
}
.stackNameTag:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
