.wrapper {
    width: 100%;
}
.tabletoolbar {
    background-color: var(--colors-white);
}
.opendeletewrap {
    min-width: 180px;
    display: flex;
    gap: var(--spacers-dp8);
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

.databaseRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.databaseRow > * {
    margin-right: 1rem;
}

.groupLabel {
    _font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.5em;
}

.treeRow {
    display: flex;
    align-items: center;
    padding: 4px;
}

.treeRow span {
    margin-left: 8px;
}

.icon {
    margin-right: 8px;
    color: #757575;
}

.name {
    flex: 2;
    margin-left: 8px;
}

.date {
    flex: 1;
}

.owner {
    flex: 1;
}

.actions {
    display: flex;
    gap: 8px;
}

.actionIcon {
    cursor: pointer;
    color: #757575;
}

.actionIcon:hover {
    color: #1976d2;
}

/* Add these styles for the header */
.header {
    display: flex;
    font-weight: bold;
    padding: 8px 0;
    border-bottom: 2px solid #e0e0e0;
}

.header > * {
    _flex: 1;
}

.header > :first-child {
    flex: 2;
}

:global(.MuiTreeItem-content.Mui-selected) {
    background-color: transparent !important;
}

:global(.MuiTreeItem-label) {
    font-size: 0.8rem !important;
}

:global(.MuiTreeItem-content.Mui-selected:hover) {
    background-color: transparent !important;
}

.smallerIcon {
    transform: scale(0.7); /* This makes the icons 30% smaller */
}

.danger {
    color: #f44336;
}

.twoPanel {
    display: flex;
    height: 100%;
}

.leftPanel {
    width: 300px;
    border-right: 1px solid #ccc;
    padding: 16px;
    overflow-y: auto;
}

.rightPanel {
    flex-grow: 1;
    padding: 16px;
}

.searchInput {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selected {
    background-color: rgb(0, 105, 92);
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.iconWithSpace {
    display: inline-block;
    margin-right: 8px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.uploadButton {
    display: inline-flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: rgb(33, 41, 52);
    height: 36px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid rgb(160, 173, 186);
    background-color: rgb(249, 250, 251);
}

.menuButton {
    padding: 4px;
    margin: -4px;
}

.actionIcons {
    display: flex;
    gap: 8px;
}

.iconButton {
    padding: 4px;
    margin: -4px;
    border: none !important;
    background-color: transparent !important;
}

.treeItemSelected {
    background-color: transparent !important;
}

.treeItemSelected > .treeRow {
    background-color: rgba(0, 105, 92, 0.1);
    border-radius: 4px;
}

.sortableHeader {
    cursor: pointer;
    user-select: none;
}

.sortableHeader:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
