.item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--colors-grey300);
}

.dragging {
    opacity: 0.5;
}

.over {
    background-color: var(--colors-grey100);
}

.groupItem {
    background-color: var(--colors-grey50);
    font-weight: 300;
}

.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 4px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--colors-grey600);
}

.chevron {
    width: 16px;
    height: 16px;
}

.itemName {
    flex-grow: 1;
    font-size: 10px;
}

.date {
    width: 120px;
    font-size: 10px;
    color: var(--colors-grey600);
}

.owner {
    width: 180px;
    font-size: 10px;
    color: var(--colors-grey600);
}

.actions {
    display: flex;
    gap: 8px;
}