.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16);
    align-items: flex-start;
    /* Prevent content shift when showing filename and progress */
    min-height: 180px;
}

.progressWrap {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--colors-grey900);
    font-size: 14px;
    line-height: 16px;
}

.container .progressWrap .loader {
    margin-left: 0;
}

.cancelButton {
    all: unset;
    color: var(--colors-blue600);
    text-decoration: underline;
    cursor: pointer;
    margin-inline-start: 4px;
}

.cancelButton:hover {
    color: var(--colors-blue700);
}

.fileAndExtension {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.field {
    margin-bottom: 20px;
}

.label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    margin-top: 10px;
}

.select,
.inputField {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: black 0.3s ease;
}

.select:focus,
.inputField:focus {
    outline: none;
    border-color: #007aff;
}

.select:disabled,
.inputField:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.select option {
    padding: 10px;
    font-size: 16px;
}

.select[disabled] {
    color: #aaa;
}
