.container {
    display: flex;
    min-height: 100vh;
}
.mainArea {
    padding-left: var(--spacers-dp16);
    padding-right: var(--spacers-dp16);
    flex: 1;
}
.nav {
    background-color: var(--colors-grey900);
    min-width: 200px;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #0c0f13;
    margin: 0;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 15px;
}
.logo {
    width: 25px;
    height: 25px;
}
.navlist {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacers-dp16);
}

.navlist :global(a) {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 9px 8px 9px 12px;
    color: var(--colors-white);
    text-decoration: none;
    border-left: 4px solid transparent;
}

.navlist :global(a.active) {
    background-color: #040506;
    border-color: var(--colors-teal500);
}
