.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--colors-grey100);
}

.container .box {
    width: 400px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: var(--spacers-dp16)
}

.header {
    margin: 0;
}