.subnav {
    display: flex;
    flex-direction: column;
}
.subnav :global(a) {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    padding: 9px 8px 9px 36px;
    color: var(--colors-white);
    text-decoration: none;
    border-left: 4px solid transparent;
}

.subnav :global(a.active) {
    background-color: #040506;
    border-color: var(--colors-teal500);
}
