name: Delete deployed environment

on:
    pull_request:
        types: [closed]

# Cancel previous runs of the same workflow and PR number or branch/tag
concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

jobs:
    call-workflow:
        uses: dhis2-sre/gha-workflows/.github/workflows/im-delete-env.yaml@chore/bump-ubuntu
        secrets:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            KUBECONFIG: ${{ secrets.KUBECONFIG }}
